
.delete{
    display: none;
}
.add-color{
    color: #262626 !important;
}
.add-icon{
    fill: #262626 !important;
}
.add-border{
    border-top: 1px solid #262626;
}
.add-hashtag{
    color: #00376b !important;
}
.add-border-hashtag{
    border-bottom: 1px solid #262626 !important;
}

